﻿@{
  ViewData["Title"] = "Service Fabric Voting Sample";
}

<div ng-controller="VotingAppController" ng-init="refresh()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <h2>Service Fabric Voting Sample</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <form class="col-xs-12 center-block">
          <div class="col-xs-6 form-group">
            <input id="txtAdd" type="text" class="form-control" placeholder="Add voting option" ng-model="item" />
          </div>
          <button id="btnAdd" class="btn btn-default" ng-click="add(item)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add
          </button>
        </form>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="row">
          <div class="col-xs-4">
            Click to vote
          </div>
        </div>
        <div class="row top-buffer" ng-repeat="vote in votes.data">
          <div class="col-xs-8">
            <button class="btn btn-success text-left btn-block" ng-click="add(vote.key)">
              <span class="pull-left">
                {{vote.key}}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
